body {
    background: linear-gradient(to right, #442121, #000000);
}

.wrapper {
    width: 400px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0) 1px 1px 100px ;
    
    
}

.wrapper h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

input[type='text'] {
    height: 40px;
    width: 150px;
    transform: translateY(-20px);
}

button {
    border: none;
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1.5px;
    background: linear-gradient(to left, #2b1010, #5f2828);
    font-weight: bold;
    cursor: pointer;
    color: white;
}

input[type='radio'] {

    width: 25px;
    height: 20px

}

h1 {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: translateY(10px);
    font-size: 25px;

}







